@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


h1 {
    font-family: 'Saira Condensed', sans-serif;
    margin: 2%;
}

p {
    font-family: 'Abel', sans-serif;
    margin: 2%;
}

img {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}





.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 5%;
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: 1s all ease;
}

.container.active {
    transform: translateX(0);
    opacity: 1;
}

.albumcoverleft {
    grid-column-start: 2;
    grid-column-end: 3;
}

.infoleft {
    grid-column: 3/5;
}

.containerrow2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-row-start: 2;
    margin: 5%;
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: 1s all ease;
}

.containerrow2.active {
    transform: translateX(0);
    opacity: 1;
}

.inforight {
    grid-column: 3 / 5;
}

.inforight h1 {
    justify-self: end;
}

.albumimg {
    grid-column: 5 / 6;
}

.containerrow3 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 5%;
    position: relative;
    transform: translateX(-150px);
    opacity: 0%;
    transition: 1s all ease;
}

.containerrow3.active {
    transform: translateX(0);
    opacity: 1;
}

.albumcoverleft1 {
    grid-column: 2;
}


.containerrow4 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 5%;
    position: relative;
    transform: translateX(150px);
    opacity: 0%;
    transition: 1s all ease;
}

.containerrow4.active {
    transform: translateX(0);
    opacity: 1;
}




