.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: red;
}

.albumcoverleft {
    grid-column-start: 2;
    grid-column-end: 3;
    background:yellow;
}

.container img {
    width:100%;
}

.containerrow2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-row-start: 2;
    background:green;
}

.inforight {
    grid-column: 4 / 5;
}

.albumimg {
    grid-column: 5 / 6;
}




