
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


body {
    background-color: #232323;
}


.introContainer {
    font-family: 'Inter', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem 35rem;
    text-align: center;
}

.introContainer h1 {
    font-size: 96px;
    font-weight: bold;
}

.introContainer p {
    font-size: 28px;
}

.introImgContainer {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    margin: 0 3rem;
    padding: 2rem;
}

.introImgContainer img{
    width: auto;
    max-height: 350px;
}

* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

li, a, button {

    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header {

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 5%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.logo {

    cursor: pointer;
    margin-right: auto;
}

.nav__links {

    list-style: none;
}

.nav__links li {

    display: inline-block;
    padding: 0px 20px;
}

header input[type=text] {
    float: right;
    border: none;
    font-size: 17px;
    border: 1px solid black;
  }